*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}

#title-page{
    color: salmon;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

h2{
    color: royalblue;
}

.caption{
    color: darkblue;
}

.info{
    color: mediumturquoise;
}

#footer > span{
    color: slateblue;
}